<a href="https://colab.research.google.com/github/ashwin2k/Titanic-Dataset/blob/master/Titanic_dataset(GridSearchCV).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

In [ ]:
train_dataset=files.upload()

Saving train (1).csv to train (1).csv

In [ ]:
import pandas as pd
import numpy as np
import io
 
#For feature selection--
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
data=pd.read_csv(io.BytesIO(train_dataset['train (1).csv']))

In [ ]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
#helper_functions
def countnan(df):
  return df.isnull().sum().sort_values(ascending = False)

In [ ]:
countnan(data)

Cabin          687
Age            177
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [ ]:
data['Age'].mean()

29.69911764705882

In [ ]:
data['Embarked'].fillna(method='ffill',inplace=True)
data['Cabin'].fillna(method='ffill',inplace=True)
data['Age'].fillna(data['Age'].mean(),inplace=True)

In [ ]:
data.iloc[0,10]='C85'

In [ ]:
countnan(data)

Embarked       0
Cabin          0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [ ]:
data=data.drop(['Name','Ticket'],axis=1)

In [ ]:
data=data.drop(['Cabin'],axis=1)

In [ ]:
X_features=['Sex','Embarked','Pclass','Age','SibSp','Parch','Fare']

In [ ]:
Y_features=['Survived']

In [ ]:
features=['Sex','Embarked','Pclass','Age','SibSp','Parch','Fare','Survived']

In [ ]:
df=pd.get_dummies(data[features])

In [ ]:
df.head()

   Pclass   Age  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0       3  22.0      1      0  ...         1           0           0           1
1       1  38.0      1      0  ...         0           1           0           0
2       3  26.0      0      0  ...         0           0           0           1
3       1  35.0      1      0  ...         0           0           0           1
4       3  35.0      0      0  ...         1           0           0           1

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
f_1=['Pclass','Age','Fare','Sex_female','Sex_male']

In [ ]:
xTrain, xTest, yTrain, yTest = train_test_split(df[f_1], df['Survived'], test_size = 0.2, random_state = 0)

In [ ]:
xTrain

     Pclass        Age     Fare  Sex_female  Sex_male
140       3  29.699118  15.2458           1         0
439       2  31.000000  10.5000           0         1
817       2  31.000000  37.0042           0         1
378       3  20.000000   4.0125           0         1
491       3  21.000000   7.2500           0         1
..      ...        ...      ...         ...       ...
835       1  39.000000  83.1583           1         0
192       3  19.000000   7.8542           1         0
629       3  29.699118   7.7333           0         1
559       3  36.000000  17.4000           1         0
684       2  60.000000  39.0000           0         1

[712 rows x 5 columns]

In [ ]:
yTrain

140    0
439    0
817    0
378    0
491    0
      ..
835    1
192    1
629    0
559    1
684    0
Name: Survived, Length: 712, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
 
logisticreg=LogisticRegression()
model = RandomForestClassifier(n_estimators=550,max_depth=10)
model.fit(xTrain, yTrain)
Y_pred = model.predict(xTest)
model.score(xTrain,yTrain)

0.9396067415730337

In [ ]:
model.score(xTest,yTest)

0.8435754189944135

In [ ]:
def buildModel(estimators,depth,scriterion):
  logisticreg=LogisticRegression()
  model = RandomForestClassifier(n_estimators=estimators,max_depth=depth,criterion=scriterion)
  return model

In [ ]:
est_range=[100,150,250,350,450,550,650,750,850,950]
depth=[10,20,30,40]
critrange=['gini', 'entropy']

In [ ]:
param=dict(n_estimators=est_range,max_depth=depth,criterion=critrange)

In [ ]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [ ]:
m=RandomForestClassifier()

In [ ]:
randm=GridSearchCV(estimator=m,param_grid =param,n_jobs=-1,verbose=10)

In [ ]:
rand_res=randm.fit(xTrain,yTrain)

Fitting 5 folds for each of 80 candidates, totalling 400 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    1.7s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    5.6s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   15.6s
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:   24.9s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:   37.7s
[Parallel(n_jobs=-1)]: Done  57 tasks      | elapsed:   44.4s
[Parallel(n_jobs=-1)]: Done  68 tasks      | elapsed:   49.2s
[Parallel(n_jobs=-1)]: Done  81 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  94 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 109 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 141 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 158 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 177 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done 217 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 238 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done 261 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 309 tasks      | elapsed:  4.3min
[Parallel(n_jobs=-1)]: Done 334 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 361 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 388 tasks      | elapsed:  5.5min
[Parallel(n_jobs=-1)]: Done 400 out of 400 | elapsed:  5.8min finished

In [ ]:
rand_res.best_score_

0.8328572835615088

In [ ]:
rand_res.best_params_

{'criterion': 'gini', 'max_depth': 10, 'n_estimators': 550}